.search-form-field {
  position: relative;
  display: block;
  width: 100%;
}

.search {
  &__results {
    &-header {
      display: flex;
      align-items: center;

    }
    &-title {
      margin: 0;
      padding: 0;
    }
  }
}
