.user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  color: #588a20;
  background-color: rgba(60, 60, 60, 0.15);
}
