.header-nav {
  display: flex;
  align-items: center;

  &__link {
    display: inline-flex;
    align-items: center;
    margin-left: 30px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    &-active {
      color: aquamarine;
    }
  }
}
